<header class="bg-white shadow p-4 flex justify-between items-center">
  <h1 class="text-xl font-bold">StrangerSync - Chat</h1>

  <button id="video-call-btn">
    <img
      id="video-call-btn"
      style="width: 40px; height: 40px"
      src="/VideoCall.png"
      alt="video"
    />
  </button>
  <!-- <button id="voice-call-btn">
    <img
      id="voice-call-btn-img"
      style="width: 40px; height: 40px"
      src="/voice-call.png"
      alt="voice"
    />
  </button>
  <button id="next-btn" class="ml-2 bg-blue-500 text-white px-4 py-2 rounded">
    Next
  </button> -->
  <!-- <button id="leave-btn" class="ml-2 bg-red-500 text-white px-4 py-2 rounded">
    Leave
  </button> -->
</header>
